.animate{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }
 
 .fadeIn {
    opacity: 1;
    transition: all 250ms linear;
 }

 .fadeOut{
    opacity: 0;
    transition: all 250ms linear;
      
 }

 @media screen and (min-width: 850px){
    .fixedElement{
        position: fixed;
        top: 0;
        margin: auto;
        width: 100%;
    }
 }